<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="/public/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header style="height: 80px; background: black;">
        <nav class="navbar navbar-light bg-light" >
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/public/images/image-5-removebg-preview.png" alt="" style="width: 140px;margin-top: -5px;
                height: 60px;">
              </a>
            </div>
          </nav>
    </header>
    <div class="Image" >
      <div class="container-fluid">
          <div>
            <div class="downloadBox">
                <div class="downloadBox2">
                    <% if(locals.error) {%>
                      <h4 style="padding: 20px;"> <%= locals.error %></h4>
                      <% } else { %>
                        <div>
                          <h2> <%= fileName %> </h2>
                      </div>
                      <div class="FileDetails">
                          <p> <%= size %> </p>
                          <p> <%= expiry %> </p>
                          <p> <%= Upload %></p>
                      </div>
                          <button type="submit" class="downloadBtn"><a style="text-decoration: none;" href="<%= download %>" >Download Your file</a></button>
                          <% } %>
                </div>
              </div>
          </div>
      </div>
    </div>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  ></script>
    <script src="/public/client.js"></script>
    <script src="/public/myquery.js"></script>
  </body>
</html>
